$default-bg: #000000;
$primary-color: #F5F5F5;

$hover-overlay: rgb(255, 255, 255, .1);
$container-separator: rgb(38, 38, 38); 
$bg-secondary-color: rgb(18, 18, 18);


$font-primary-color: #FFF;
$font-secondary-color: #A8A8A8;
