@use 'colors' as *;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: $default-bg;
  overflow-y: hidden;
  color: white;
}

button {
  cursor: pointer;
  background: transparent;
  border: 0px;
  outline: 0px;
}

button:active, button:focus {
  outline: 0px;
}
