.asideLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 25px 12px 16px;
  margin-bottom: 19px;
}

.asideLogo > img {
  width: 103px;
  margin-top: 8px;
}
